<div class="component-body">
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Estado</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td-img">
                    <img src="../../../../assets/colonia.svg" class="rounded-circle img-table" alt="profile">
                </td>
                <td>Coca Cola</td>
                <td>Refresco de cola</td>
                <td>23.12</td>
                <td>2300</td>
                <td>
                    <div class="aprobado">
                        Activo
                    </div>
                </td>
                <td>
                    <div class="">
                        <i class="far fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </td>
            </tr>
    
        </tbody>
    </table>

</div>