.element {
  background-color: #163157;
  color: #fff;
  border-radius: 25px;
  margin-top: 20px;
  padding: 20px;
}

.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.principal app-title {
  margin-bottom: 20px;
  padding: 10px;
}


.container-fluid {
  height: 100vh;
}