
<div class="container-fluid container-home">
    <div class="element">
        <h5 class="text-center">Col Centeno #1, Bloque D, Casa #2</h5>
        <p class="text-center mb-0">Comision: 90 Lps</p>
    </div>
    <div class="element">
        <h5 class="text-center">Col Centeno #1, Bloque D, Casa #2</h5>
        <p class="text-center mb-0">Comision: 90 Lps</p>
    </div>
    <div class="element">
        <h5 class="text-center">Col Centeno #1, Bloque D, Casa #2</h5>
        <p class="text-center mb-0">Comision: 90 Lps</p>
    </div>
</div>