<mat-drawer-container class="example-container" [hasBackdrop]="true" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <app-sidebar></app-sidebar>
  </mat-drawer>

  <div class="container-fluid">
    <div class="d-flex justify-content-between m-4 mb-2">
      <a (click)="drawer.toggle()"> <i class="fas fa-bars fs-1"></i></a>
      <app-profile [name]="currentBiker.nombre" [lastName]="currentBiker.apellido"></app-profile>

    </div>
    <div class="principal">
      <app-title
        title1="Disponibles"
        src="../../../../assets/img/disponibles.png"
      ></app-title>

      <cdk-virtual-scroll-viewport
        appendOnly
        itemSize="4"
        class="container container-home"
      >
      <app-item [direccion]="orden.direccion" [id]="getIdOrden(orden)"  *ngFor="let orden of ordenes"></app-item>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
</mat-drawer-container>
