<section>
    <div class="viewDesktop d-none d-md-grid" ngsReveal>
        <div class="sideLeftDesktop">
            <img src="../../../../assets/img/register/undraw_welcome_re_h3d9.svg" alt="">
        </div>
        <div class="sideRightDesktop container py-3">
            <!-- <img routerLink="/landing-page" style="cursor: pointer;" src="../../../../assets/img/logo NELSON Y JEAN.png" alt=""> -->
            <h2 class="text-center" style="color: #424041;">Unete a la comunidad <span
                    style="color: #F2A20C; font-family: Roboto;">BOSA</span></h2>
            <p style="font-size: smaller; color: #424041;">Disfruta nuestro servicio garantizado y descubre muchos de los beneficios BOSA</p>
            <button class="w-100 mb-2" mat-raised-button>
                <p class="float-start m-0"><img style="width: 30px; height: 30px; margin-bottom: 2px;"
                        src="../../../../assets/img/register/google.png" alt=""></p>Continua con Google
            </button>
            <button class="w-100 mb-2" style="background-color: #3D548E; color: #fafafa;" mat-raised-button>
                <p class="float-start m-0"><img style="width: 30px; height: 30px; margin-bottom: 2px;"
                        src="../../../../assets/img/register/facebook.png" alt=""></p>Continua con Facebook
            </button>
            <h4 style="color: rgba(66, 64, 65, 0.7);">O</h4>
            <form [formGroup]="miFormulario" autocomplete="off" (ngSubmit)="register()">
                <div class="d-flex gap-1">
                    <mat-form-field appearance="outline" class="">
                        <mat-label>Ingresa tu nombre</mat-label>
                        <input matInput type='text' placeholder="Lucas" formControlName="nombre" required>
                        <mat-error *ngIf="miFormulario.get('name')?.invalid">{{getErrorMessage('name')}}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class=" ">
                        <mat-label>Ingresa tu apellido</mat-label>
                        <input matInput type='text' placeholder="Espinoza" formControlName="apellido" required>
                        <mat-error *ngIf="miFormulario.get('lastName')?.invalid">{{getErrorMessage('lastName')}}</mat-error>
                    </mat-form-field>
                </div>
                <mat-form-field appearance="outline" class="w-100 ">
                    <mat-label>Ingresa tu correo</mat-label>
                    <input matInput type='text' placeholder="example@bosa.com" formControlName="correo" required>
                    <mat-error *ngIf="miFormulario.get('email')?.invalid">{{getErrorMessage('email')}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100 ">
                    <mat-label>Ingresa tu contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="contraseña" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="miFormulario.get('password')?.invalid">{{getErrorMessage('password')}}</mat-error>
                </mat-form-field>
                <mat-checkbox class="example-margin mb-3" formControlName="tercon" color=warn>Terminos y condiciones</mat-checkbox>
                <button class="w-100 mb-2" [class.back]="this.miFormulario.valid"  mat-raised-button [disabled]="this.miFormulario.invalid">Crear una cuenta</button>
            </form>
        </div>
    </div>
    <div class="viewMovil p-3 d-flex d-md-none" ngsReveal>
        <img routerLink="/landing-page" style="cursor: pointer;" src="../../../../assets/img/logo NELSON Y JEAN.png" alt="">
        <h1 class="m-0 text-center" style="color: #424041;">Unete a <span style="color: #F2A20C; font-family: Roboto;">BOSA</span> nuestra
            comunidad te espera</h1>
        <h4 class="m-0">Te espera una gran experiencia y muchos beneficios</h4>
        <div>
            <button class="w-100 mt-1 mb-3" mat-raised-button>
                <p class="float-start m-0"><img style="width: 30px; height: 30px; margin-bottom: 2px;"
                        src="../../../../assets/img/register/google.png" alt=""></p>Continua con Google
            </button>
            <button class="w-100" style="background-color: #3D548E; color: #fafafa;" mat-raised-button>
                <p class="float-start m-0"><img style="width: 30px; height: 30px; margin-bottom: 2px;"
                        src="../../../../assets/img/register/facebook.png" alt=""></p>Continua con Facebook
            </button>
        </div>
        <h1 style="margin: 0; color: rgba(66, 64, 65, 0.7);">O</h1>
        <form [formGroup]="miFormulario" autocomplete="off" (ngSubmit)="register()" class="pt-0"> 
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Ingresa tu nombre</mat-label>
                <input matInput type='text' placeholder="Lucas" formControlName="nombre" required>
                <mat-error *ngIf="miFormulario.get('name')?.invalid">{{getErrorMessage('name')}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Ingresa tu apellido</mat-label>
                <input matInput type='text' placeholder="Espinoza" formControlName="apellido" required>
                <mat-error *ngIf="miFormulario.get('lastName')?.invalid">{{getErrorMessage('lastName')}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Ingresa tu correo</mat-label>
                <input matInput type='text' placeholder="example@bosa.com" formControlName="correo" required>
                <mat-error *ngIf="miFormulario.get('email')?.invalid">{{getErrorMessage('email')}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Ingresa tu contraseña</mat-label>
                <input matInput type='text' placeholder="1234abc*" formControlName="contraseña" required>
                <mat-error *ngIf="miFormulario.get('password')?.invalid">{{getErrorMessage('password')}}</mat-error>
            </mat-form-field>
            <mat-checkbox class="example-margin mb-3" formControlName="tercon" color=warn>Terminos y condiciones</mat-checkbox>
            <button class="w-100 mb-2" [class.back]="this.miFormulario.valid"  mat-raised-button [disabled]="this.miFormulario.invalid">Crear una cuenta</button>
        </form>
    </div>
</section>