<section>
    <div class="d-none d-sm-none d-md-block d-lg-block adaptacionDesk">
        <div class="ventanaFlotante">
            <h1 style="color: #f3f3f2;">El registro de entregas <span style="color:#f2a20c">BOSA</span> posee el record actual de entregas rapidas</h1>
            <h4 style="color: #f3f3f2;">El tiempo es una de nuestrar mayores prioridades</h4>
            <button mat-raised-button style="background-color: #d93232; color: #f3f3f2;">Empezar experiencia <span style="color:#f2a20c">BOSA</span></button>
        </div>
    </div>
    <div class="d-block d-sm-block d-md-none d-lg-none adaptacionMovil">
        <div class="ventanaFlotanteMovil">
            <!-- <h1 style="color: #f3f3f2;">El registro de entregas <span style="color:#f2a20c">BOSA</span> posee el record actual de entregas rapidas</h1> -->
            <h4 style="color: #f3f3f2;">El tiempo es una de nuestrar mayores prioridades</h4>
            <button mat-raised-button style="background-color: #d93232; color: #f3f3f2;">Empeza experiencia</button>
        </div>
    </div>
</section>