<section>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div style="background-color: rgba(0, 0, 0, 0.32); position: absolute; top: 0; bottom: 0px; width: 100%;"></div>
                <img src="../../../../../../assets/img/imgOptimizadas/full-length-portrait-cheerful.jpg"
                    class="d-block w-100 adaptacionDesk adaptacionMovil" alt="...">
                <div class="container ventanaFlotante d-none d-md-flex">
                    <div>
                        <h1 class="text-center" style="color: #f2b705;">Tu experiencia en BOSA sera unica e inolvidable</h1>
                        <h3 class="container text-center mt-4" style="color: #fff;">Nuestro servico esta garactizado</h3>
                    </div>
                    <button class="btn btn-danger">Comenzar la experiencia</button>
                </div>
                <div class="container ventanaFlotantee d-flex d-md-none">
                    <div>
                        <h3 class="container text-center mt-4" style="color: #fff;">Nuestro servico esta garactizado</h3>
                    </div>
                    <button class="btn btn-danger">Comenzar la experiencia</button>
                </div>
            </div>
            <div class="carousel-item">
                <div style="background-color: rgba(0, 0, 0, 0.32); position: absolute; top: 0; bottom: 0px; width: 100%;"></div>
                <img src="../../../../../../assets/img/imgOptimizadas/shopping-carts2.jpg"
                    class="d-block w-100 adaptacionDesk adaptacionMovil" alt="...">
                    <div class="container ventanaFlotante d-none d-md-flex">
                        <div>
                            <h1 class="text-center" style="color: #f2b705;">Olvida las limitaciones con BOSA puedes realizar multiples compras</h1>
                            <h3 class="container text-center mt-4" style="color: #fff;">Realiza compras en cualquiera de las tiendas afiliadas</h3>
                        </div>
                    </div>
                    <div class="container ventanaFlotantee d-flex d-md-none">
                        <div>
                            <h3 class="container text-center mt-4" style="color: #fff;">Realiza compras en cualquiera de las tiendas afiliadas</h3>
                        </div>
                    </div>
            </div>
            <div class="carousel-item">
                <div style="background-color: rgba(0, 0, 0, 0.32); position: absolute; top: 0; bottom: 0px; width: 100%;"></div>
                <img src="../../../../../../assets/img/imgOptimizadas/shopping-carts4444.jpg"
                    class="d-block w-100 adaptacionDesk adaptacionMovil" alt="...">
                    <div class="container ventanaFlotante d-none d-md-flex">
                        <div> 
                            <h1 class="text-center" style="color: #f2b705;">El registro de entregas BOSA posee el record actual de entregas rapidas</h1>
                            <h3 class="container text-center mt-4" style="color: #fff;">El tiempo es una de nuestrar mayores prioridades</h3>
                        </div>
                    </div>
                    <div class="container ventanaFlotantee d-flex d-md-none">
                        <div> 
                            <h3 class="container text-center mt-4" style="color: #fff;">El tiempo es una de nuestrar mayores prioridades</h3>
                        </div>
                    </div>
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>