<section class="mt-5">
    <div style="display:flex; flex-direction: column; justify-content: center; text-align: center;">
        <h1>¿Cómo funciona nuestro servicio?</h1>
        <p>Hazlo de una manera simple y rapida</p>
    </div>
    <div class="container gripPrincipal">
        <div class="mx-2">
            <div class="mb-4">
                <h4 style="margin: 0;">Carrito</h4>
                <div class="pasosBasicos"> 
                    <img style="width: 4.5rem; height: 4.5rem;" src="../../../../assets/img/Carrito.png" alt="">
                    <p style="margin: 0;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, amet!</p>
                </div>
            </div>
            <div class="mb-4">
                <h4 style="margin: 0; text-align: end;">Realiza tu pago</h4>
                <div class="pasosBasicos2"> 
                    <img style="width: 4.5rem; height: 4.5rem;" src="../../../../assets/img/Pago2.png" alt="">
                    <p style="margin: 0;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, amet!</p>
                </div>
            </div>
            <div class="mb-4">
                <h4 style="margin: 0;">Producto en camino</h4>
                <div class="pasosBasicos"> 
                    <img style="width: 4.5rem; height: 4.5rem;" src="../../../../assets/img/Envio2.png" alt="">
                    <p style="margin: 0;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, amet!</p>
                </div>
            </div>
        </div>
        <div class="d-none d-lg-block d-md-block">
            <img class="imgResp" src="../../../../assets/img/undraw_deliveries_131a.svg" alt="">
        </div>
    </div>
</section>
