<div class="component-body">
    <form class="row" [formGroup]="miFormulario" (ngSubmit)="registrar()">
        <div class="col-12 col-md-6 col-lg-6">
            <!-- Nombre de la empresa -->
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre de la empresa</label>
                <input id="nombre" type="text" class="form-control" formControlName="nombre"/>
            </div>
            <!-- Descripcion -->
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripcion</label>
                <textarea name="" id="descripcion" cols="30" rows="5" class="form-control" formControlName="descripcion"></textarea>
            </div>
            <!-- Calificacion -->
            <div class="mb-3">
                <label for="cali" class="form-label">Calificacion</label>
                <input id="cali" type="number" class="form-control" formControlName="calificacion" min="0" max="5"/>
            </div>

            <!-- Selecione categoria -->
            <div class="mb-3">
                <label for="selectCategory" class="form-label">Selecione su pais</label>
                <select id="selectCategory" class="form-select" formControlName="categoria">
                    <option selected>-- seleccione una categoria --</option>
                    <option value="alimentos para el hogar">{{"alimentos para el hogar"|titlecase}}</option>
                    <option value="comida rapida y bebidas">{{"comida rapida y bebidas"|titlecase}}</option>
                    <option value="medicamentos">{{"medicamentos"|titlecase}}</option>
                    <option value="herramientas y papeleria">{{"herramientas y papeleria"|titlecase}}</option>
                    <option value="ropa y accesorios">{{"ropa y accesorios"|titlecase}}</option>
                    <option value="tecnologia">{{"tecnologia"|titlecase}}</option>
                </select>

            </div>
            <!-- Imagen o logo -->
            <div class="mb-4">
                <label for="imgLog" class="form-label">Imagen o logo</label>
                <input id="imgLog" type="file" class="form-control" name="imagen" formControlName=pathImg/>
            </div>

            <!-- Registrar Empresa -->
            <div class="d-grid mt-4">
                <button class="btn btn-submit" type="submit" [disabled]="miFormulario.invalid">Registrar Empresa</button>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-6 d-none d-md-block d-lg-block d-xl-block">
            <img src="../../../../assets/imagenesForms/undraw_web_devices_re_m8sc.svg" alt="" width="100%"
                height="100%">
                <!-- {{miFormulario.invalid}} -->
        </div>
    </form>
</div>