.bgImgMd{
    width: 100%;
    height: 25vh;
    /* background-image: url("../../../../assets/img/home/Companies/supermercados/laantorcha.png"); */
    /* background-position: center center; */
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,152,155,1) 0.1%, rgba(0,94,120,1) 94.2% );
}
.bgImg{
    width: 100%;
    height: 25vh;

    /* background-image: url("../../../../assets/img/home/Companies/supermercados/laantorcha.png");
    background-position: center center;
    background-size: cover; */
}

.gripProducts{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem,1fr));
}

.back{
    width: 100%;
    height: auto;
    background-image: url('../../../../assets/img/home/Productos/background.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.fa-gratipay:hover{
    cursor: pointer;
    color: #e74c3c;
}