<div>
    <h1 class="text-center" mat-dialog-title>{{data.nombre | uppercase}}</h1>
    <div mat-dialog-content>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <div style="display: flex;">
                <div>
                    <p>{{data.descripcion}}</p>
                    <p>{{data.precio}} Lps</p>
                </div>
                <div>
                    <img style="width: 100px; height: 100px;"
                    [src]="'../../../../assets/img/home/Productos/'+data.pathImg" alt="">
                </div>
            </div>
            <div>
                <!-- <p class="m-0">Unidades a ordenar</p> -->
                <div class="example-container">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Unidades a ordenar</mat-label>
                        <input matInput [(ngModel)]="cantidad" type="number" class="example-right-align" placeholder="0">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions style="display: flex; justify-content: center; width: 100%;">
        <button mat-button style="width: 40%;" (click)="onNoClick()">Cancelar</button>
        <button mat-button style="width: 40%;" [mat-dialog-close]="cantidad"
            cdkFocusInitial>Ordenar</button>
    </div>
</div>