<nav class="d-flex justify-content-between m-4">
  <i class="fas fa-bars"></i>
  <div class="profile">
    <h5 class="text-center mt-2">NS</h5>
  </div>
</nav>


<div class="container-fluid d-flex flex-column align-items-center">

<div class="welcome-text">
  <h1>Hola Nelsinho!!</h1>
  <h4>Estas son tus Ordenes</h4>
</div>

<div class="option mb-5" routerLink="/inicio/ordenes-pendientes">
  <img class="motorista" src="../../../../assets/img/moto.png" alt="">
  <div class="component">
    <h3>Pendientes 2</h3>
  </div>
</div>

<div class="option1 mb-5 mt-4" routerLink="/inicio/ordenes-disponibles">
  <img class="repartidor" src="../../../../assets/img/repartidor.png" alt="">
  <div class="component">
    <h3>disponibles 2</h3>
  </div>
</div>

<div class="option2 mb-5 mt-4" routerLink="/inicio/ordenes-entregadas">
  <img class="entregadas" src="../../../../assets/img/tarea-completada .png" alt="">
  <div class="component">
    <h3>Entregadas 2</h3>
  </div>
</div>




</div>
