<!-- <div class="component-body">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
                <th scope="col">Identidad</th>
                <th scope="col">Aprobado</th>
                <th scope="col">Estado</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>

        </tbody>
    </table>
</div>
 -->

<app-title [title]="title"></app-title>

<div class="container">
    <app-form-product></app-form-product>
</div>