
  <div class="component-body">
    <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Identidad</th>
            <th scope="col">Aprobado</th>
            <th scope="col">Estado</th>
            <th scope="col"></th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="td-img">
                    <img src="../../../../assets/sidenav/JeanCuadrada.png" class="rounded-circle img-table" alt="profile">
            </td>
            <td>Cristian Boquin</td>
            <td>25</td>
            <td>0801-1996-01233</td>
            <td>
                <div class="aprobado">
                    Aprobado
                </div>
            </td>
            <td>
                <div class="ocupado">
                    Ocupado
                </div>
            </td>
            <td>
                <div class="">
                    <i class="far fa-edit"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </td>
          </tr>
          <tr>
            <td class="td-img">
                    <img src="../../../../assets/sidenav/JeanCuadrada.png" class="rounded-circle img-table" alt="profile">
            </td>
            <td>Cristian Boquin</td>
            <td>25</td>
            <td>0801-1996-01233</td>
            <td>
                <div class="aprobado">
                    Aprobado
                </div>
            </td>
            <td>
                <div class="ocupado">
                    Ocupado
                </div>
            </td>
            <td>
                <div class="">
                    <i class="far fa-edit"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </td>
          </tr>
          
        </tbody>
      </table>
    
  </div>