<div class="component-body">
    <form class="row" action="">
        <div class="col-6">
            <!-- Nombre del producto -->
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Nombre del producto</label>
                <input type="text" class="form-control" />
            </div>

            <!-- Descripcion del producto -->
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Descripcion del producto</label>
                <input type="text" class="form-control" />
            </div>

            <!-- Precion del producto -->
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Precio del producto</label>
                <input type="number" class="form-control" />
            </div>
           
            <!-- Cantidad Disponible -->
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Cantidad Disponible</label>
                <input type="number" class="form-control" />
            </div>
            
            <!-- Imagen o logo -->
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Imagen o logo</label>
                <input type="file" class="form-control" />
            </div>

            <!-- Registrar Producto -->
            <div class="d-grid gap-2 mt-5">
                <button class="btn btn-submit" type="button">Registrar Producto</button>
            </div>
        </div>

        <div class="col-6">
            <div class="text-center mt-5 pt-4">
                <img src="../../../../assets/imageForm.svg" alt="">
            </div>
        </div>

    </form>
</div>