<div class="component-body">
    <form class="row" [formGroup]="miFormulario" (ngSubmit)="registrar()">
        <div class="col-12 mb-3">
            <label for="empresa" class="form-label">Empresa</label>
            <select id="empresa" class="form-select" formControlName="idEmpresa">
                <option selected value="">-- seleccione la empresa donde agrega el producto --</option>
                <option *ngFor="let empresa of empresas" 
                        [value]="empresa._id">{{empresa.nombre|titlecase}}</option>
            </select>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            <!-- Nombre del producto -->
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input id="nombre" type="text" class="form-control" formControlName="nombre" />
            </div>

            <!-- Descripcion del producto -->
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripcion</label>
                <!-- <input id="descripcion" type="text" class="form-control" formControlName="descripcion"/> -->
                <textarea id="descripcion" class="form-control" formControlName="descripcion" cols="30"
                    rows="3"></textarea>
            </div>

            <!-- categoria del producto -->
            <div class="mb-3">
                <label for="categoria" class="form-label">Categoria</label>
                <input id="categoria" type="text" class="form-control" formControlName="categoria" />
            </div>

            <!-- Precion del producto -->
            <div class="mb-3">
                <label for="precio" class="form-label">Precio</label>
                <input id="precio" type="number" class="form-control" formControlName="precio" />
            </div>

            <!-- Cantidad Disponible -->
            <div class="mb-3">
                <label for="cantidad" class="form-label">Cantidad Disponible</label>
                <input id="cantidad" type="number" class="form-control" formControlName="disponibles" />
            </div>


        </div>

        <div class="col-12 col-md-6 col-lg-6">
            <!-- Imagen o logo -->
            <div class="mb-3">
                <label for="imagen" class="form-label">Imagen o logo</label>
                <input readonly id="imagen" type="text" class="form-control" formControlName="pathImg" />
            </div>

            <!-- Calificacion -->
            <div class="mb-5">
                <label for="cali" class="form-label">Calificacion</label>
                <input id="cali" type="number" min=0 max="5" class="form-control" formControlName="calificacion" />
            </div>

            <!-- Registrar Producto -->
            <div class="d-grid mb-3">
                <button class="btn btn-submit" type="submit" [disabled]="miFormulario.invalid">Registrar
                    Producto</button>
            </div>

            <div class=" d-none d-md-flex d-lg-flex d-xl-flex justify-content-center">
                <img src="../../../../assets/imageForm.svg" alt="" width="100%" height="100%">
            </div>
        </div>

    </form>
</div>