<div class="component-body">
    <form class="row" action="">
        <div class="col-6">
            <!-- Nombre del motorista -->
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Nombre del motorista</label>
                <input type="text" class="form-control" />
            </div>

            <!-- Numero de celular -->
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Numero de celular</label>
                <input type="text" class="form-control" />
            </div>

            <!-- Correo Electronico -->
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Correo electronico</label>
                <input type="number" class="form-control" />
            </div>
           
            <!-- Contrasena -->
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">contraseña</label>
                <input type="number" class="form-control" />
            </div>
            
            <!-- Imagen  -->
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Imagen</label>
                <input type="file" class="form-control" />
            </div>

            <!-- Registrar  -->
            <div class="d-grid gap-2 mt-5">
                <button class="btn btn-submit" type="button">Registrar Motorista</button>
            </div>
        </div>

        <div class="col-6">
            <div class="text-center mt-5 pt-4">
                <img src="../../../../assets/imageForm.svg" alt="">
            </div>
        </div>

    </form>
</div>