<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #f2a20c !important;">
    <div class="container-fluid mx-lg-3 mx-md-3">
        <button id="menuToggel" mat-icon-button style="display: none;">
            <mat-icon style="font-size: 28px;">menu</mat-icon>
        </button>
        <strong class="ms-auto me-auto ms-sm-auto me-sm-auto ms-md-0 me-md-0">BOSA</strong>
        <div id="optionsNav" class="ms-auto">
            <button mat-button>Inicio</button>
            <button mat-button>Servicio</button>
            <button mat-button>Simple y rapido</button>
            <button mat-button>Afiliate</button>
            <button mat-button>Motoristas</button>
        </div>
        <button mat-raised-button style="background-color: #d93232; color: #f3f3f2;" (click)="login()">Ingresar</button>
    </div>
</nav>
<app-section1></app-section1>
<app-section2></app-section2>
<app-section3></app-section3>
<app-section4></app-section4>
<app-section5></app-section5>
<app-section6></app-section6>
<app-section7></app-section7>