<div class="body">
    <div class="container">
        <div class="d-flex justify-content-center mb-5 ">
            <img class="logo mt-5" src="../../../../assets/img/logo-bosa.png" alt="">
        </div>
        <div class="welcome-text">
          <h1>!Te damos la bienvenida!</h1>
          <p>Se parte de nuestro equipo de repartidores</p>
        </div>

        <div class="buttons">
            <span class="help-text mb-2">
                ¿Cómo te podemos ayudar?
            </span>
            <button type="button" class="btn btn-primary">REGISTRARSE</button>
            <button type="button" class="btn btn-light">INICIAR SESIÓN</button>
        </div>
    </div>
    
</div>