<div class="container-fluid">
  <div class="mt-5 mb-3">
    <img src="../../../../assets/img/logo-bosa.png" alt="" class="logo" />
  </div>

  <div class="mb-5">
    <h1 class="text-center">Regístrate para ser parte de nuestro equipo</h1>
  </div>

  <form autocomplete="off">
    <input type="number" placeholder="Numero de celular" />
    <input type="text" placeholder="Nombre completo" />
    <input type="email" placeholder="Correo electrónico" />
    <input type="password" placeholder="Contraseña" />
    <input type="password" placeholder="Confirmar contraseña" />
    <button type="button" class="btn-form">Registrarme</button>
  </form>

  <span class="text-center mt-3">
    Al registrarse, aceptas nuestras Condiciones, la Política de datos y la
    Política de cookies.
  </span>
</div>
