<section class="parallax mt-5">
    <!-- <button style="position: absolute; bottom: 20px; left: 10px; width: 100px;" mat-raised-button color="warn">Registrate y comienza tu experiencia</button> -->
    <!-- <img src="../../../../../../assets/img/imgOptimizadas/front-view-young-male-courier-blue-uniform-mask-yellow-background.jpg" alt=""> -->
    <div style="height: auto;">
        <div style="background-color: rgba(0, 0, 0, 0.4); position: absolute; top: 0; bottom: 6px; width: 100%;"></div>
        <video width="100%" autoplay loop muted src="../../../../../../assets/img/production ID_5077084.mp4"></video>
    </div>
    <div class="container ventanaFlotante d-none d-md-flex">
        <div [ngsReveal]="{ reset: true, distance:'100px', origin:'left', duration:1000}">
            <h1 class="text-center" style="color: #f3f3f0;">¡Este es el primer paso a comprar lo que gustes!</h1>
            <h3 class="container text-center mt-4" style="color: #f3f3f0;">Duda de todos menos de BOSA</h3>
        </div>
        <button class="btn btn-danger" [ngsReveal]="{ reset: true, distance:'100px', origin:'right', duration:1000}">Registrate y comienza la experienza BOSA</button>
    </div>
    <div class="container ventanaFlotantee d-flex d-md-none">
        <div [ngsReveal]="{ reset: true, distance:'100px', origin:'left', duration:1000}">
            <h3 class="text-center" style="color: #f3f3f0;">¡Este es el primer paso a comprar lo que gustes!</h3>
            <!-- <h3 class="container text-center mt-4" style="color: #f3f3f0;">Duda de todos menos de BOSA</h3> -->
        </div>
        <button class="btn btn-danger" [ngsReveal]="{ reset: true, distance:'100px', origin:'right', duration:1000}">Registrate a BOSA</button>
    </div>
</section>