
<div class="container-fluid">
    <div class="row d-flex">
        <div class="col-sm- col-md-8 col-lg-8 col-xl-9 col-xxl-9 d-none d-md-block d-lg-block d-xl-block desktop">
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 col-xxl-3 mobile">
            <div class="container">
                <div class="d-flex justify-content-center mb-5 ">
                    <img class="logo mt-5" src="../../../../assets/img/logo-bosa.png" alt="">
                </div>
                <div class="welcome-text">
                    <h1 class="text-center">!Te damos la bienvenida!</h1>
                    <p class="text-center">Se parte de nuestro equipo de repartidores</p>
                </div>

                <div class="buttons">
                    <span class="text-center help-text mb-2">
                        ¿Cómo te podemos ayudar?
                    </span>
                    <button type="button" class="btn btn-primary" routerLink="registro">REGISTRARSE</button>
                    <button type="button" class="btn btn-light" routerLink="inicio-sesion">INICIAR SESIÓN</button>
                </div>
            </div>
        </div>
    </div>
</div>