<section class="mt-5">
    <div class="container" style="text-align: center;">
        <h1 [ngsReveal]="{ reset: true, duration:1000}">¿Qué te ofrece <samp style="color: #f2ac0c; font-family: Roboto;">BOSA</samp>?</h1>
        <div class="gridPrincipal">
            <div [ngsReveal]="{ reset: true, distance:'150px', origin:'left', duration:1000}">
                <h3>¡¡BOSA te ofrece de todo!!</h3>
                <p class="" style="font-size: larger;">Escoge entre nuestras opciones como comida, medicamentos,
                    papeleria, cosmeticos, mandaditos o ropa a tu medida.</p>
                    <div class="cotendedorAlternativas">
                        <div class="gridHijo">
                            <!-- Aplicacion de ngFor y class.nameClase -->
                            <div *ngFor="let categoria of categorias; let i=index" class="alternativas my-2" [class.mx-3]="i==1||i==4">
                                <div class="cajas">
                                    <img [src]="categoria.img" alt="">
                                </div>
                                <strong class="mt-1">{{categoria.nombre}}</strong>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="d-none d-lg-block d-md-block" [ngsReveal]="{ reset: true, duration:1000}">
                <img class="imgResp" src="../../../../assets/img/undraw_ice_cream_s2rh.svg" alt="">
            </div>
        </div>
    </div>
</section>