<section class="mt-5">
    <div class="text-center mb-3" [ngsReveal]="{ reset: true, duration:1000}">
        <h1>¿Quieres ser un <samp style="color: #f2ac0c; font-family: Roboto;">aliado</samp>?</h1>
        <h3>Unete ya a Bosa</h3>
    </div>
    <div class="parallax"></div>
    <div class="container gripPrincipal">
        <div class="d-none d-lg-block d-md-block" [ngsReveal]="{ reset: true, duration:1000}">
            <img class="imgResp" src="../../../../../../assets/img/undraw_connection_b38q.svg" alt="">
        </div>

        <div class="mt-4 tarjeta p-lg-5 p-md-2 p-sm-2 p-2" [ngsReveal]={reset:true}>
            <div>
                <h1>¡¡Comercio o empresa!!</h1>
                <p>Descubre los beneficios que tienen los +50.000 aliados en
                    9 países que ya trabajan con BOSA
                </p>
            </div>
            <button class="btn btn-primary"> Registrar Comercio</button>
            <button class="btn btn-primary"> Registrar Empresa</button>
        </div>
    </div>
</section>