<div class="component-body">
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Nombre</th>
                <th scope="col">Telefono</th>
                <th scope="col">Correo Electronico</th>
                <th scope="col">Pais</th>
                <th scope="col">Estado</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td-img">
                    <img src="../../../../assets/colonia.svg" class="rounded-circle img-table" alt="profile">
                </td>
                <td>La Colonia</td>
                <td>2223-2232</td>
                <td>lacolonia@gmail.com</td>
                <td>Honduras</td>
                <td>
                    <div class="aprobado">
                        Activo
                    </div>
                </td>
                <td>
                    <div class="">
                        <i class="far fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="td-img">
                    <img src="../../../../assets/colonia.svg" class="rounded-circle img-table" alt="profile">
                </td>
                <td>La Colonia</td>
                <td>2223-2232</td>
                <td>lacolonia@gmail.com</td>
                <td>Honduras</td>
                <td>
                    <div class="inactivo">
                        Activo
                    </div>
                </td>
                <td>
                    <div class="">
                        <i class="far fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>

</div>