.gripCompanies{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem,1fr));
}
.shadow{
    box-shadow: 1px 1px 15px #888888;
}

figure,figcaption{
    background-color: #d93232a8 !important;
}

.card-body:hover{
    background-color: rgba(242, 194, 162, 0.05);
}

.fa-facebook:hover{
    cursor: pointer;
    color: #0E8EF1;
}

.fa-gratipay{
    cursor: pointer;
    /* color: #e74c3c; */
}

.fa-gratipay:active, .fa-facebook:active {
    transform: translateY(-2px);
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); */
}