.component-body {
  /* width: 80%; */
  min-height: 80%;
  background-color: #fff;
  padding: 30px;
}

.form-label {
    color: #626262;
    font-size: 1.1rem;
    font-weight: 520;
}

.btn-submit {
    background-color: #F2A20C;
    font-weight: 700;
}
body{
    background-color: #f3f3f0;
    background-image: url("assets/PatronSinFondo35-15.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
