<mat-drawer-container class="example-container" [hasBackdrop]="true" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <ul>
      <li>alo</li>
      <li>alo</li>
      <li>alo</li>
    </ul>
  </mat-drawer>

  <div class="container-fluid">
    <div class=" d-flex justify-content-between m-4 mb-2">
      <a (click)="drawer.toggle()"> <i class="fas fa-bars fs-1"></i></a>
      <div class="profile">
        <h5 class="text-center mt-2">NS</h5>
      </div>
    </div>
    <div class="principal">
      <app-title title1="Pendientes" src="../../../../assets/img/pendientes.png"></app-title>
      <div class="container container-home"></div>
    </div>
  </div>
</mat-drawer-container>
