<mat-toolbar>

    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>BOSA</span>

    <span class="example-spacer"></span>
    <button mat-button>
        <mat-icon>thumb_up_off_alt</mat-icon><span class="ms-1 d-none d-md-inline">Ofertas</span>
    </button>
    <button mat-button>
        <mat-icon>star_outline</mat-icon><span class="ms-1 d-none d-md-inline">Empresas mas populares</span>
    </button>
    <button mat-button (click)="navegation('Carrito')">
        <mat-icon>add_shopping_cart</mat-icon><span class="ms-1 d-none d-md-inline">Carrito</span>
    </button>

</mat-toolbar>


<mat-sidenav-container class="material-container" [hasBackdrop]="false">
    <mat-sidenav class="material-sidenav" #sidenav mode="push" opened=false>
        <div class="my-2" style="display: flex; flex-direction: column; align-items: center;">
            <img style="width: 100px; border-radius: 50%;" src="../../assets/sidenav/JeanCuadrada.png" alt="">
            <p>Jeanluc Boquin</p>
        </div>
        <div class="contenedorBotones">
            <button *ngFor="let btnOption of btnOptions_1" mat-button (click)="navegation(btnOption.nombre)">
                <div class="contenidoBotones">
                    <div>
                        <img style="width: 18px;" [src]=btnOption.img alt="imgBreak">
                    </div>
                    <span>{{btnOption.nombre}}</span>
                </div>
            </button>
            <hr class="mx-3">
            <button *ngFor="let btnOption of btnOptions_2" mat-button (click)="navegation(btnOption.nombre)">
                <div class="contenidoBotones">
                    <div>
                        <img style="width: 18px;" [src]=btnOption.img alt="imgBreak">
                    </div>
                    <span>{{btnOption.nombre}}</span>
                </div>
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content (click)="sidenav.close()">

        <!-- <app-register-biker></app-register-biker> -->
        <app-register-company></app-register-company>
        <!-- <app-register-product></app-register-product> -->
        <!-- <router-outlet></router-outlet> -->

    
    </mat-sidenav-content>
</mat-sidenav-container>
